<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>BusinesBd</title>
    <meta name="description" content="free website template" />
    <meta name="keywords" content="enter your keywords here" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Theme/css/style.css" />
    <script type="text/javascript" src="~/Theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">


        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
    @RenderSection("MyStyle", false)
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="menubar">
                <ul id="menu">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="/Category/Add">Category</a></li>
                    <li><a href="/Customer/Add">Customer</a></li>
                    <li><a href="/Supplier/Add">Supplier</a></li>
                    <li><a href="/Product/Add">Product</a></li>
                    <li><a href="projects.html">Sales</a></li>
                    <li><a href="projects.html">Stock</a></li>
                    <li><a href="contact.html">Report</a></li>
                    <li><a href="contact.html">Purchase</a></li>
                </ul>
            </div><!--close menubar-->
        </div><!--close header-->
        <div id="site_container">
            @RenderBody()
        </div><!--close site_container-->
    </div><!--close main-->
    @RenderSection("MyScript", false)
</body>
</html>

