table {
    position:center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    color:red;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 13px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color: blueviolet;
}
.menu{
    
    width:570px;
   margin-left:40px;
}
.Heading{
    margin-left:130PX;
    color:red;
    position:center;
    font-size: 15px;
    font:bold;
}
.td{
    height:20px;
}
.addcategry{
    margin-top : 100px;
}